.user-name {
    font-weight: bold;
    margin-bottom: 0px;
}

.user-name,
.user-profile {
    margin-bottom: 5px;
    margin-top: 5px;
}

.user-profile {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #999999;
    display: -webkit-box;
    font-size: 12pt;
    overflow: hidden;
    text-overflow: ellipsis;
}